<div class="center hero-unit">
  <h1>Terminal Register</h1>
  
  <p>Welcome to the Terminal Register application.</p>
  
  <%= link_to "Sign up now!", signup_path, class: "btn, btn-large btn-primary" %>
</div>
