<footer class="footer">
  <small>
    <a href="http://termreg.herokuapp.com">Terminal Register</a>
    by Rolf Pedersen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>